<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <title>Log and Reg</title>
</head>
<body>
    <div class="container">
        <h1>LOGIN AND REGISTRATION</h1>
        <div id="registerbox">
            <h1>REGISTER</h1>
            <form action="/register" method='post'>
                {% csrf_token %}
                First Name:<input class="form-control" type="text" name='first_name'>
                Last Name:<input class="form-control" type="text" name='last_name'>
                Email:<input class="form-control" type="text" name='email'>
                DOB: <input class="form-control" type="date" name="dob">
                Password: <input class="form-control" type="text" name='password'>
                Confirm Password: <input class="form-control" type="text" name='c_password'>
                <br>
                <input type="submit" value="REGISTER" class="btn btn-primary">
            </form>
        </div>
        <div id="loginbox">
            <h1>LOG IN</h1>
            <form action="/login" method='post'>
                {% csrf_token %}
                Email:<input class="form-control" type="text" name='email'>
                Password: <input class="form-control" type="text" name='password'>
                <br>
                <input type="submit" value="LOG IN" class="btn btn-primary">
            </form>
        </div>
        <div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>